/*General styling*/
body {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

/*Grid styling*/

.grid {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.gridsquare {
  width: 148px;
  height: 148px;
  float: left;
  border: 1px solid black;
}