/*jQuery styling*/
.hide {
  display: none;
}

/*General styling*/
body {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #424242;
  font-weight: 200;
  background-color: #FAFAFA;
}

/*Header styling*/

header ul li {
  display: inline;
}

/*home.html styling*/
#home {
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#home-logo h1 {
  color: #00C853;
  font-size: 92px;
  font-weight: 500;
}

#home-logged-out a{
  color: #23527C;
  transition:.5s ease-out;
}

#home-logged-in a{
  color: #23527C;
  transition:.5s ease-out;
}

#home-logged-out a:hover{
  color: #00C853;
  text-decoration: none;
}

#home-logged-in a:hover{
  color: #00C853;
  text-decoration: none;
}

/*login.html styling */
#login {
  height: 300px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#login h1 {
  color: #00C853;
  font-size: 56px;
}

#login label {
  font-size: 16px;
  font-weight: 400;
}

#login input {
  border-color: #FAFAFA;
}

#login input:focus {
  border-color:#00C853;
}

#login button {
  border: none;
  background: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  color: #23527C;
  transition:.5s ease-out;
}

#login button:hover {
  color: #00C853;
  border: none;
}

/*register.html styling */
#register {
  height: 450px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#register h1 {
  color: #00C853;
  font-size: 56px;
}

#register label {
  font-size: 16px;
  font-weight: 400;
}

#register input {
  border-color: #FAFAFA;
}

#register input:focus {
  border-color:#00C853;
}

#register button {
  border: none;
  background: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  color: #23527C;
  transition:.5s ease-out;
}

#register button:hover {
  color: #00C853;
  border: none;
}

/*profile.html styling*/

#profile {
  margin: 25px auto;
}

#profile h1 {
  color: #00C853;
  font-size: 56px;
  margin: 25px auto 0 auto;
}

#profile h2 {
  margin: 25px auto 0 auto;
}

#profile h3 {
  font-size: 18px;
}

#profile-scores {
  margin-top: 25px;
}

#profile h3#profile-score {
  font-size: 18px;
  transition:.5s ease-out;
}

#profile h3#profile-score:hover {
  font-size: 18px;
  color: #00C853;
}

#profile h3 span {
  padding: 0 12px;
}

#profile h3 span#profile-score-value {
  font-size: 24px;
}

#profile a{
  color: #23527C;
  transition:.5s ease-out;
}

#profile a:hover{
  color: #00C853;
  text-decoration: none;
}

/*Grid styling*/

a {
  color: #23527C;
  transition:.5s ease-out;
}

a:hover {
  text-decoration: none;
  color: #00C853;
}

#game .game-info {
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
}

#game .game-info ul li {
  font-size: 24px;
}

#game button {
  border: none;
  background: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  color: #23527C;
  transition:.5s ease-out;
}

#game button:hover {
  border: none;
  color: #00C853;
}

.player-gridsquare {
  width: 82px;
  height: 82px;
  line-height: 82px;
  float: left;
  margin: 2px;
  border: 4px solid #00C853;
  border-radius: 5px;
  font-size: 42px;
}

.player-selected-grid {
  width: 90px;
  height: 90px;
  margin: 25px auto;
}

.game-grid {
  width: 450px;
  height: 450px;
  margin: 25px auto;
}

.game-gridsquare {
  width: 140px;
  height: 140px;
  line-height: 140px;
  margin: 2px;
  float: left;
  border: 4px solid #00C853;
  border-radius: 5px;
  font-size: 42px;
}

@media only screen and (max-width: 500px) {

  .player-gridsquare {
    font-size: 42px;
    margin: 2px;
  }

  .player-selected-grid {
    width: 90px;
    height: 90px;
    margin: 25px auto;
  }

  .game-grid {
    width: 300px;
    height: 300px;
    margin: 25px auto;
  }

  .game-gridsquare {
    width: 90px;
    height: 90px;
    line-height: 90px;
    float: left;
    margin: 2px;
    border: 4px solid #00C853;
    border-radius: 5px;
    font-size: 42px;
  }
}

/*Footer styling*/

footer ul li {
  display: inline;
}