/*jQuery styling*/
.hide {
  display: none;
}

/*General styling*/
body {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  background-color: #FAFAFA;
}

/*Header styling*/

header ul li {
  display: inline;
}

/*home.html styling*/
#home {
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#logo {
  color: #00C853;
  font-size: 84px;
  font-weight: 500;
}

/*Grid styling*/

.player-grid {
  width: 450px;
  height: 90px;
  margin: 25px auto;
}

.player-gridsquare {
  width: 88px;
  height: 88px;
  line-height: 88px;
  float: left;
  border: 1px solid black;
  font-size: 18px;
}

.player-selected-grid {
  width: 90px;
  height: 90px;
  margin: 25px auto;
}

.cpu-grid {
  width: 450px;
  height: 90px;
  margin: 25px auto;
}

.cpu-gridsquare {
  width: 88px;
  height: 88px;
  line-height: 88px;
  float: left;
  border: 1px solid black;
  font-size: 18px;
}

.cpu-grid-selected{
  width: 90px;
  height: 90px;
  margin: 25px auto;
}

.game-grid {
  width: 450px;
  height: 450px;
  margin: 25px auto;
}

.game-gridsquare {
  width: 148px;
  height: 148px;
  line-height: 148px;
  float: left;
  border: 1px solid black;
  font-size: 24px;
}

/*Footer styling*/

footer ul li {
  display: inline;
}