<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ui-sref-active="active" ui-sref="home" class="navbar-brand" href="#">SHAPES</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-show="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="profile">PROFILE</a></li>
          <li><a ng-hide="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="login">LOGIN</a></li>
          <li><a ng-hide="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="register">REGISTER</a></li>
          <li><a ng-show="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="home" ng-click="users.logout()">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section ng-hide="users.checkLoggedIn()">

  <h1>SHAPES</h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>You must <a href="#" ui-sref="register">register</a> or <a href="#" ui-sref="login">login</a> to play</h2>
    </div>
  </div>

</section>

<section ng-show="users.checkLoggedIn()" ng-controller="SocketsController as sockets">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul>
        <li class='timer'></li>
      </ul>
      <ul class='score'>
        
      </ul>
      <ul class='notifications'>
        
      </ul>   
    </div>
  </div>

  <div class="row new-game-tools">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-inline" id='join-game'>
        <input type='submit' class="btn btn-default" value='Play Game' ng-click="sockets.start()">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class='player-selected-grid'>
        <li class='player-gridsquare' id='player-selected-gridsquare'></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="message"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="game-list"></ul>
    </div>
  </div>

  <ul class='main-game-grid game-grid'>
    <li class='game-gridsquare' id='{{ $index }}' ng-repeat="square in sockets.squares track by $index" ng-click="sockets.squares[$index] || sockets.playGame($index)">
      {{square}}
    </li>
  </ul>

</section>