<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ui-sref-active="active" ui-sref="home" class="navbar-brand" href="#">SHAPES</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-show="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="profile">PROFILE</a></li>
          <li><a ng-hide="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="login">LOGIN</a></li>
          <li><a ng-hide="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="register">REGISTER</a></li>
          <li><a ng-show="users.checkLoggedIn()" href="#" ui-sref-active="active" ui-sref="home" ng-click="users.logout()">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid" id="profile">

<section>

  <div ng-hide="users.checkLoggedIn()" class="row">
    <div class="col-xs -12 col-sm-12 col-md-6 col-md-offset-3">
      <h2>You must <a href="#" ui-sref="register">register</a> or <a href="#" ui-sref="login">login</a> to play</h2>
    </div>
  </div>

</section>

<section ng-show="users.checkLoggedIn()">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>{{ users.user.local.firstname | uppercase}} {{users.user.local.lastname | uppercase}}</h1>
    </div>
  </div>
  
  <div class="row" ng-controller="ScoresController as scores">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <h2>TOP 10 SCORES</h2>
      <div class="row" id="profile-scores">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="score in scores.oneUserScores | orderBy : '-value'  | limitTo : 10">
            <h3 id="profile-score"><span>{{$index + 1}}:</span><span id="profile-score-value">{{ score.value }}</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="users.checkLoggedIn()" class="row">
    <div class="col-xs -12 col-sm-12 col-md-6 col-md-offset-3">
      <h2><a href="#" ui-sref="game">PLAY</a></h2>
    </div>
  </div>

</section>

</div>